
@{
    ViewBag.Title = "Create";
}

<h2>Create Product</h2>
<form id="createproduct">
    <label>Product Name</label>
    <input name="name" />
    <br />
    <label>Description</label>
    <input name="Description" />
    <br />
    <label>Price</label>
    <input name="Price"/>
    <br/>
    <button id="saveBtn"type="button">save</button>
</form>
<script>
    $("#saveBtn").click(function () {
        var searchvalue = $("#searchTxt").val();

        $.ajax({
            type:'post',
            url: '/Product/create',
            data:$('#createproduct').serialize()
        })
            .done(function (response) {
                $("#tablecontainer").html(response);
                $("#actioncontainer").html("");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("fail");
            });
    });
</script>
