
@{
    ViewBag.Title = "Products";
}

<section class="flat-row flat-iconbox">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="title-section">
                <h2 class="title">
                    Product Table
                </h2>
            </div>
        </div>
    </div>
    <h2 align="centre">Index</h2>
    <div align="center" id="tablecontainer">
        @{
            Html.RenderAction("ProductTable");

            // Html.RenderAction("create");
        }
    </div>
    <div align="center" id="actioncontainer">

    </div>
</div>
</section>