@model List<ClothBazar.Entities.Product>
@{
    ViewBag.Title = "ProductTable";
}
<div>
    <form method="post" action="/Product/ProductTable">
        <input id="searchTxt" name="Search" />
        <button type="button" id="SearchBtn">Search</button>
    </form>
    <button type="button" id="newBtn">New</button>
</div>
<h2>ProductTable</h2>
<div>
<table>
    <thead>
        <tr>
            <td>product Name</td>
            <td>category</td>
            <td>Price</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>

        @foreach (var product in Model)
        {
            <tr>

                <td>@product.Name</td>
                <td>-</td>
                <td>@product.Price</td>
                <td>
                    <button class="editBtn" data-id="@product.Id">Edit</button>
                    <button class="deleteBtn" data-id="@product.Id">delete</button>
                </td>
            </tr>
        }

    </tbody>
</table>
</div>
<script>
    $("#SearchBtn").click(function () {
        var searchvalue = $("#searchTxt").val();

        $.ajax({
            url: '/Product/ProductTable',
            data: {
                search: searchvalue
            }
        })
            .done(function (response) {
                $("#tablecontainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("fail");
            });
    });
    $("#newBtn").click(function () {
        $.ajax({
            url: '/Product/Create',
        })
            .done(function (response) {
                $("#actioncontainer").html(response);
                
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("fail");
            });
    });
    $(".editBtn").click(function () {
        $.ajax({
            url: '/Product/edit',
            data: {
                Id: $(this).attr('data-id')
            }
        })
            .done(function (response) {
                $("#actioncontainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("fail");
            });
    });
    $(".deleteBtn").click(function () {
        var confirmDelete = confirm("Are you sure you want delete product?");
        if (confirmDelete) {
            $.ajax({
                type: 'post',
                url: '/Product/delete',
                data: {
                    Id: $(this).attr('data-id')
                }
            })
                .done(function (response) {
                    $("#tablecontainer").html(response);
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("fail");
                });
        }
    });
</script>
