
@{
    ViewBag.Title = "Create";
}

<h2>Create category</h2>


<form id="createcategory">

    <div class="form-group">
        <label class="form-control">Name</label>
        <input class="form-control" name="name" />
    </div>
    <div class="form-check">
        <label class="form-control">Description</label>
        <input class="form-control" name="Description" />
    </div>
    <div class="form-check">
        <label class="form-control">Image</label>
        <input id="ImageURL" name="ImageURL" type="hidden" />
        <input id="ImageUpload" name="Image" type="file" accept=".jpg, .png" />
        <div class="thumb">
            <img id="categoryImage" />
        </div>
    </div>
    <div class="form-group">
        <label>IsFeatured?</label>
        <div class="input-group">
            <div class="radio form-control">
                <label><input name="IsFeatured" type="radio" value="true"/>True</label>
            </div>
            <div class="radio form-control">
                <label><input name="IsFeatured" type="radio" value="false" />False</label>
            </div>
             </div>
        @*<input name="IsFeatured" type="radio" value="true" />true
        <input name="IsFeatured" type="radio" value="false" />false*@

    </div>
        <button id="saveBtn" class="btn btn-primary" type="button">save</button>
</form>


<script>
    $("#ImageUpload").change(function () {

        var element = this;
        var formData = new FormData();
        var totalfiles = element.files.length;

        for (var i = 0; i < totalfiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }
        $.ajax({
            type: 'post',
            url: '/shared/UpdateImage',
            datatype: 'JSON',
            data: formData,
            contentType: false,
            processData: false

        })
            .done(function (response) {
                debugger;
                console.log(response)
                if (response.Success) {
                    $("#ImageURL").val(response.ImageURL);
                    $("#categoryImage").attr("src", response.ImageURL);
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("fail");
            });
    });
    $("#saveBtn").click(function () {
        var searchvalue = $("#searchTxt").val();

        $.ajax({
            type: 'post',
            url: '/category/create',
            data: $('#createcategory').serialize()
        })
            .done(function (response) {
                $("#tablecontainer").html(response);
                $("#actioncontainer").html("");
                
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("fail");
            });
    });
    function focusAction() {
        $('html, body').animate({
            scrollTop: $("actioncontainer").offset().Top - 100
        }, 1000);
    }
</script>
