@model List<ClothBazar.Entities.Category>

@{
    ViewBag.Title = "Categories";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>  

@*<h2>Index</h2>*@
<section class="flat-row flat-iconbox">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section">
                    <h2 class="title">
                        Categories Table
                    </h2>
                </div>
            </div>
        </div>
        <div align="center" id="tablecontainer">
            @{
                Html.RenderAction("categoryTable");

                // Html.RenderAction("create");
            }
        </div>
        <div align="center" id="actioncontainer">

        </div>
    </div>
    </section>

<script>
    function focusAction(controlToFocus) {
        $('html, body').animate({
            scrollTop: $("#" + controlToFocus).offset().Top - 100
        }, 1000);
    }
</script>




