@model List<ClothBazar.Entities.Category>

@{
    ViewBag.Title = "Categories";
}

@*<h2>Index</h2>*@
<section class="flat-row flat-iconbox">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section">
                    <h2 class="title">
                        Categories Table
                    </h2>
                </div>
            </div>
        </div>
        <div align="center" id="tablecontainer">
            @{
                Html.RenderAction("categoryTable");

                // Html.RenderAction("create");
            }
        </div>
        <div align="center" id="actioncontainer">

        </div>
    </div>
    </section>




