@model List<ClothBazar.Entities.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    <h2 align="centre">Index</h2>
    <div align="center" id="tablecontainer">
        @{
            Html.RenderAction("categoryTable");

            // Html.RenderAction("create");
        }
    </div>
    <div align="center" id="actioncontainer">

    </div>
</div>




